/.idea

/frontend/node_modules/**/*
/frontend/.expo/*
/frontend/npm-debug.*
/frontend/*.jks
/frontend/*.p8
/frontend/*.p12
/frontend/*.key
/frontend/*.mobileprovision
/frontend/*.orig.*
/frontend/web-build/
/frontend/web-report/
/frontend/package-lock.json
/frontend/package.json

/frontend/# macOS
/frontend/.DS_Store

/backend/express/node_modules/**/*
/backend/express/package.json
/backend/express/package-lock.json
/backend/express/cookie.txt
/backend/express/sessions
/backend/express/config/mysqlConn.js
/backend/express/debug.sh
/backend/express/images/*
/backend/.expo/*
/backend/npm-debug.*
/backend/*.jks
/backend/*.p8
/backend/*.p12
/backend/*.key
/backend/*.mobileprovision
/backend/*.orig.*
/backend/express/.idea
/backend/data/

/backend/# macOS
/backend/.DS_Store
